<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>

<h2>Register</h2>

<form th:action="@{/registration}" th:object="${user}" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username" placeholder="Username"/>
    </div>

    <div>
        <label>Password:</label>
        <input type="password" name="password" placeholder="Password"/>
    </div>

    <div>
        <label>Enable 2FA:</label>
        <input type="checkbox" name="allowsMFA"/>
    </div>

    <button type="submit">Sign up</button>

</form>

</body>
</html>
